<html>
<head>
  <title>Stock Portfolio</title>
  <link href="/static/style.css" rel="stylesheet">
</head>
<div class="toolbar">
  <!--
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">User Profile</a>
 
  {% if user %}
    <p>Hello {{user}}!</p>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}
	<a href="/aboutus">About Us</a>
	-->
    <form id="form" role="search">
  <input type="search" id="query" name="q"
   placeholder="Enter ticker"
   aria-label="Search for ticker">
  <button>Search</button>
</form>
  <a href="/">Return Home</a>
</div>
<body>
  <h1>Stock Stack</h1>
  <p>Stock Stack is a web application created for CS1520 Programming Languages for Web Applications at the University of Pittsburgh.</p>
  <p>Our team includes Christopher Markulin, Noah Laferriere, Nicholas Pilotti, and John Fessler.</p>
</body>
</html>