<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title class = "base-title" >StockStack</title>
	 <link href="/static/style.css" rel="stylesheet">
		<div class="toolbar">
		<h1 class = "base-title" > STOCK STACK </h1>
	  {% if user %}
		<form action="/auth/logout" method="POST">
      <button class = "menu-buttons">log out</button>
    </form>
		<form action="/profile" method="GET">
      <button class = "menu-buttons">profile</button>
    </form>
	  {% else %}
		<form action="/auth/login" method="GET">
      <button class = "menu-buttons">log in</button>
    </form>
		<form action="/auth/register" method="GET">
      <button class = "menu-buttons">register</button>
    </form>
	  {% endif %}
		<form action="/" method="GET">
      <button class = "menu-buttons">home</button>
    </form>
		<form action="/aboutus" method="GET">
     <button class = "menu-buttons">about us</button>
    </form>
		<form action="/results" method="POST">
		  <p>
			<input class="search-bar" type="text" id="query" name="query" required>
			<button class="search-button" type="submit">search</button>
		  </p>
		</form>
		<br></br>
	  </div>
</head>
<body>
<br></br>
{% block body %}
{% endblock %}
</body>
</html>
