<html>
<head>
  <title>Stock Portfolio</title>
  <link href="/static/style.css" rel="stylesheet">
</head>

<div class="toolbar">
  <!--
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">User Profile</a>
  -->
  {% if user %}
    <p>Hello {{user}}!</p>
	<a href="/profile">Profile</a>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}
	<a href="/aboutus">About Us</a>

  <form id="form" role="search">
  <input type="search" id="query" name="q"
   placeholder="Enter ticker"
   aria-label="Search for ticker">

<div class = "searchButton">
  <a href="/results" class = "buttonStyle" align="center"> Search </a>
  <style>
    .buttonStyle {
      font: bold 14px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
      color: #333333;
      padding: 2px 6px 2px 6px;
    }
  </style>
</form>
</div>

<body>
  <h1>Stock Stack</h1>
  <p>Welcome to our stock portfolio website. From here, you can search ticker symbols and add them to your account page.</p>
</body>
</html>
