{% extends "base.html" %}
{% block body %}
{% if user %}
		<p>Hello {{user}}!</p>
{% endif %}

<!-- Used to center table -->
<style>
	.center {
	 margin-left: auto;
	 margin-right: auto;
   }
   
  table, th, td {
  border: 2px solid black;
   }


	.blueback {
	background-color: #258be3;
	color: white;
	}
	
	  table {
  width: 75%;
}
.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
   clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>

<!-- our script -->
	<script src="/static/scripts/script.js"></script>

  <p>Welcome to our stock portfolio website. From here, you can search ticker symbols and add them to your account page.</p>
  <br></br>


<div class="row">
  <div class="column">
	<div class="curators-picks">
  <h2>Curator's Picks</h2>


	<script src="/static/scripts/curated.js"></script>
	<table id=curated_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	  
	  
  </div>
  </div>
  <div class="column">
	<div class="active">
  <h2>Active Stocks</h2>
	<table id=active_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>
  </div>
  <div class="column">
	<div class="gainers">
  <h2>Top Gainers</h2>
	<table id=gainer_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>
  </div>
  <div class="column">
	<div class="losers">
  <h2>Top Losers</h2>
	<table id=loser_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>
  </div>
</div>

<script type="javascript">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	
	  google.charts.load('current', {'packages':['corechart', 'line']});
	  google.charts.setOnLoadCallback(drawChart);
	
	  function drawChart() {
		
		
		var dataJSON = '{{ data|tojson }}';
		var dataSplit = dataJSON.split(',');
	
		const dates = new Array();
		const prices = new Array();
		for (var i = 0; i < dataSplit.length; i++) {
		  var curData = dataSplit[i];
		  var curDataSplit = curData.split(':');
	
		  if (i === 0 || i === (dataSplit.length) - 1) {
			if (i === 0) {
			  var firstPart = curDataSplit[0];
			  var splitFirst = firstPart.split('{');
			  dates.push(splitFirst[1]);
			  prices.push(curDataSplit[1]);
			} else {
			  var firstPart = curDataSplit[1];
			  var splitFirst = firstPart.split('}');
			  dates.push(curDataSplit[0]);
			  prices.push(splitFirst[0]);
			}
		  } else {
			dates.push(curDataSplit[0]);
			prices.push(curDataSplit[1]);
		  }
		}
	
		const datesFormatted = new Array();
		const pricesFormatted = new Array();
		for (var k = 0; k < dates.length; k++) {
		  var curDate = dates[k];
		  var splitDate = curDate.split('-');
		  if (k === 0) {
			var year = splitDate[0].substring(1, 6);
			var newDate = new Date(splitDate[0].substring(1, 6), splitDate[1] - 1, splitDate[2].substring(0, 2));
			datesFormatted.push(newDate);
		  } else {
			var year = splitDate[0].substring(2, 6);
			var newDate = new Date(splitDate[0].substring(2, 6), splitDate[1] - 1, splitDate[2].substring(0, 2));
			datesFormatted.push(newDate);
		  }
		  var priceCur = prices[k];
		  var subPrice = priceCur.substring(2, priceCur.length - 1);
		  var priceC = (Number(subPrice));
		  pricesFormatted.push(priceC);
		}
		
		var dataJSON = '{{ data|tojson }}';
		console.log(dataJSON);
	
		var data = new google.visualization.DataTable();
		data.addColumn('date', 'Date');
		data.addColumn('number', 'Price');
	
		for (var m = 0; m < datesFormatted.length; m++) {
		  data.addRow([datesFormatted[m], pricesFormatted[m]]);
		}
	
		var dataCount = datesFormatted.length;
	
		var options = {
		  title: 'SPDR S&P 500 ETF Trust (Past Month)',
		  animation: {
			startup: true,
			duration: 1500,
			easing: 'out',
		  },
		  pointsVisible: true,
		  pointSize: 3,
		  legend: {position: 'none'},
		  hAxis: {
			format: 'MM/d',
			gridlines: {count: 5},
			pointSize: 2,
			//title: 'Date',
			titlePosition: 'none'
		  },
		  vAxis: {
			title: 'Price'
		  }
		};
	
		//var curPrice = pricesFormatted[pricesFormatted.length - 1];
		//console.log('CUR PRICE: ' + curPrice);
		//document.getElementById("myText").innerHTML = curPrice;
	
		var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
	
		chart.draw(data, options);
	  }
	  console.log("Script");
  </script>

<p>
	<div id="curve_chart" class ="chart" style="width: 900px; height: 500px"></div>
	<style>
	.chart {
	  width: auto;
	  margin: 0 auto; 
	  border: none;
	  color:blueviolet;
	}
	</style>
	<!-- Current Price: $<span id="myText"></span> -->
</p>
  
{% endblock %}