{% extends "base.html" %}
{% block body %}
{% if user %}
		<p>Hello {{user}}!</p>
{% endif %}

<!-- Used to center table -->
<style>
	.center {
	 margin-left: auto;
	 margin-right: auto;
   }
   
  table, th, td {
  border: 2px solid black;
   }
   
  table {
  width: 75%;
}

	.blueback {
	background-color: #258be3;
	color: white;
	}
</style>

<!-- our script -->
	<script src="/static/scripts/script.js"></script>

  <p>Welcome to our stock portfolio website. From here, you can search ticker symbols and add them to your account page.</p>
  <br></br>
  <div class="curators-picks">
  <h2>Curator's Picks</h2>
	  <p>These are some recommended stocks hand-picked by the team at Stock Stack. You can click on the ticker to show more information.</p>


	<script src="/static/scripts/curated.js"></script>
	<table id=curated_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	  
	  
  </div>
  
  
  <div class="active">
  <h2>Active Stocks</h2>
	<p>These are the most active (top traded) stocks for the day.</p>
	<table id=active_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	
  <div class="gainers">
  <h2>Top Gainers</h2>
	<p>These are the top gainers for the day (went up the most).</p>
	<table id=gainer_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>
	
  <div class="losers">
  <h2>Top Losers</h2>
	<p>These are the top losers for the day (went down the most).</p>
	<table id=loser_stocks class=center>
		<tbody>
			<tr>
				<td class = blueback>Ticker</td>
				<td class = blueback> Price</td>
			</tr>
		</tbody>
	</table>
	</div>

  
{% endblock %}

