{% extends "base.html" %}
{% block body %}
  <h1>{{user}}'s Page</h1>
</body>
<h2>{{user}}'s Assets</h2>
<p>This is where the user's asset's will show up</p>
<script src="/static/scripts/portfolio.js"></script>

<style>
 .center {
  margin-left: auto;
  margin-right: auto;
}
</style>

<table id=portolio_table class=center>
  <tbody>
    <tr>
      <td>Ticker</td>
      <td>Buy Price</td>
      <td>Amount</td>
      <td>Date</td>
    </tr>
  </tbody>
</table>

<p>Add assets with this form</p>
<form action="/profile/add_ticker" method="POST">
  <p>
  <label for="ticker">Ticker:</label>
  <input type="text" id="ticker" name="ticker"><br><br>
  <label for="price">Price:</label>
  <input type="text" id="price" name="price"><br><br>
  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="amount"><br><br>
  <label for="date">Date:</label>
  <input type="text" id="date" name="date"><br><br>
  <button class="search-button" type="submit">Add Asset</button>
  </p>
</form>

<p>Remove Ticker from portfolio</p>
<form action="/profile/remove_ticker" method="POST">
  <p>
  <label for="ticker">Ticker:</label>
  <input type="text" id="ticker" name="ticker">
  <button class="search-button" type="submit">Remove</button>
  </p>
</form>
{% endblock %}

