
html{background-color: white }
body{ text-align: center }
.toolbar{ background-color:#258be3;  border: 3px solid white; border-radius: 30px; padding-top: 0px;}
.chart{border: solid}

p {
  font-family: sans-serif;
  font-weight: 550;
  color: #258be3;
}

.aboutus-main-text {
  font-size: 1.25rem;
  font-color: black;
  font-weight: 550;
  font-family: sans-serif;
  padding: 6rem;
  padding-top: 0;
  padding-bottom: 0;
}

.aboutus-team-text {
  font-size: 1rem;
  font-color: blue;
  font-family: sans-serif;
  font-weight: 500;
  padding-top:0;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

h1 {
  text-align: center
  font-size: 4rem;
  color: white;
  font-weight: 550;
  font-family: sans-serif;
  padding: 0.25rem;
}

.menu-buttons {
  background-color:#258be3;
  font-size: 1.35rem;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  display: inline;
  border-radius: 70px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.search-button {
  background-color:#258be3;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  display: inline;
  border-radius: 70px;
}

.log-in-button {
  background-color:#258be3;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  display: inline;
  border-radius: 70px;
}

.register-button {
  background-color:#258be3;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  display: inline;
  border-radius: 70px;
}

form {
  display: inline;
}

.query{
	border: 0;
	background-color: white;
}